<!DOCTYPE html>
<html lang="en">
    <head>
        <title>App Name</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
	<body>
		<header id="header">
			<div class="container">
				<div class="row">
				  <div class="col-6"> name</div>
				  <div class="fas fa-address-book col-2"> Channels</div>
				  <div class="fas fa-users col-2"> Users</div>
				  <div class="fas fa-home col-2">Home</div>
				</div>
			  </div>



			  <nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand col-6" href="#">Name</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				  <div class="navbar-nav">
					<a class="nav-item nav-link active fas fa-address-book" href="#">Channels <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link fas fa-users" href="#">users </a>
					<a class="nav-item nav-link disabled fas fa-home" href="#">Home</a>
				  </div>
				</div>
			  </nav>
		</header>