<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Message All</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
	<body>
		<header id="header">
			<nav class="navbar navbar-expand-ld navbar-dark primary-color row col-12 p-0">
				<div class="row col-12 p-0">
					<div class="navbar-brand col-10">Message All</div>
					<button class="border navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse col-12 p-0 row" id="navbarNav">
					<ul class="navbar-nav flex-row col-12 p-0 row">

						<li class="border nav-item active col-md-2">

							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Login">
								<i class="fas fa-sign-in-alt"></i> 
								Login 
							</button>
							
							<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="Login">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">
												Login 
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span>&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form>
												<div class="form-group">
													<label">Email address</label>
													<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
												</div>
												
												<div class="form-group">
													<label>Password</label>
													<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
												</div>

												<button type="submit" data-dismiss="modal" class="btn btn-secondary">Submit</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="border nav-item active col-md-2">

							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Sign-up">
								<i class="fas fa-user-plus"></i> 
								Sign Up 
							</button>
						
							<div class="modal fade" id="Sign-up" tabindex="-1" role="dialog" aria-labelledby="Login">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">
												Sign Up 
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span>&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form>
												<div class="form-group">
													<label">Email address</label>
													<input type="email" class="form-control"placeholder="name@example.com">
												</div>

												<div class="form-group">
													<label">Username</label>
													<input type="text" class="form-control" placeholder="Username">
												</div>
												
												<div class="form-group">
													<label>Password</label>
													<input type="password" class="form-control" placeholder="Password">
												</div>

												<div class="form-group">
													<label>Re-enter Password</label>
													<input type="password" class="form-control" placeholder="Re-enter Password">
												</div>

												<div class="form-group">
													<label>Choose an avatar</label>
													<div class="custom-file">
													  <input type="file" class="custom-file-input" id="photo">
													  <label class="custom-file-label" for="photo">Choose a file</label>
													</div>
												</div>

												<button type="submit" data-dismiss="modal" class="btn btn-secondary">Submit</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="border nav-item active col-md-2">

							<button type="button" class="btn btn-secondary">
								<i class="fas fa-sign-out-alt"></i>  
								Logout 
							</button>
						
						</li>

						<li class="border nav-item active col-md-2">

							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Channels">
								<i class="fas fa-users"></i> 
								Channels
							</button>
						
							<div class="modal fade" id="Channels" tabindex="-1" role="dialog" aria-labelledby="Channels">
								<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">
												Channels 
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span>&times;</span>
											</button>
										</div>
										<div class="modal-body col-12 row">							
																	
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
									
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										
											<div class="col-md-4 px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
									
											<div class="col-md-4 px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="border nav-item active col-md-2">

							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Users">
								<i class="fas fa-users"></i> 
								Users
							</button>
						
							<div class="modal fade" id="Users" tabindex="-1" role="dialog" aria-labelledby="Users">
								<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">
												Users 
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span>&times;</span>
											</button>
										</div>
										<div class="modal-body col-12 row">							
																	
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
									
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										
											<div class="col-md-4  px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										
											<div class="col-md-4 px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
									
											<div class="col-md-4 px-0 pt-0 card">
												<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												<div class="card-body">
												<h5 class="card-title">Card title</h5>
												<a href="#" data-dismiss="modal" class="btn btn-secondary">Go somewhere</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="border nav-item active col-md-2">

							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Settings">
								<i class="fas fa-cog"></i>  
								User Settings 
							</button>
							
							<div class="modal fade" id="Settings" tabindex="-1" role="dialog" aria-labelledby="Settings">
								<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">
												User Settings 
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span>&times;</span>
											</button>
										</div>
										<div class="modal-body row py-0">
											<form class="col-5">
												<div class="form-group">
													<label>Email address</label>
													<input type="email" class="form-control"placeholder="Email">
												</div>

												<div class="form-group">
													<label>Username</label>
													<input type="text" class="form-control" placeholder="Username">
												</div>

												<div class="form-group">
													<label>Avatar</label>
													<img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
												</div>
											</form>
											
											<form class="col-7">
												<div class="form-group">
													<label>New Email address</label>
													<input type="email" class="form-control"placeholder="New Email">
												</div>

												<div class="form-group">
													<label">New Username</label>
													<input type="text" class="form-control" placeholder="New Username">
												</div>
												
												<div class="form-group">
													<label>New Password</label>
													<input type="password" class="form-control" placeholder="New Password">
												</div>

												<div class="form-group">
													<label>Re-enter New Password</label>
													<input type="password" class="form-control" placeholder="Re-enter New Password">
												</div>

												<div class="form-group">
													<label>Current Password</label>
													<input type="password" class="form-control" placeholder="Current Password">
												</div>

												<div class="form-group">
													<label>Choose a new avatar</label>
													<div class="custom-file">
													  <input type="file" class="custom-file-input" id="photo">
													  <label class="custom-file-label" for="photo">Choose a file</label>
													</div>
												</div>

												<button type="submit" data-dismiss="modal" class="btn btn-secondary">Update Setting</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</nav>
		</header>

