<header id="header">
    <nav class="navbar navbar-expand-ld navbar-dark primary-color row col-12 p-0">
        <div class="row col-12 p-0">
            <div class="navbar-brand col-10">Message All</div>
            <button class="border navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse col-12 p-0 row" id="navbarNav">
            <ul class="navbar-nav flex-row col-12 p-0 row">


                <li class="border nav-item active col-md-3">
                    <form action="/" method="POST">
                    <button type="button" class="btn btn-secondary" method>
                        <i class="fas fa-sign-out-alt"></i>  
                        Logout 
                    </button>
                    </form>
                </li>

                <li class="border nav-item active col-md-3">
                    <form action="/channels" method="dialog">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fas fa-users"></i> 
                        Channels
                    </button>
                    </form>
                </li>

                <li class="border nav-item active col-md-3">
                    <button type="button" class="btn btn-secondary">
                        <i class="fas fa-users"></i> 
                        Users
                    </button>

                </li>

                <li class="border nav-item active col-md-3">

                    <button type="button" class="btn btn-secondary">
                        <i class="fas fa-cog"></i>  
                        User Settings 
                    </button>
                    
                    
                </li>

            </ul>
        </div>
    </nav>
</header>