<%- include('partials/header'); %> 



<div class="containererror">


  <p>  <a href="index.ejs">You are lost let us help you, click here.</a></p>


  
  
</div> 






<%- include('partials/footer'); %>
