<%- include('partials/header'); %> 



<div class="containererror">


  <p>  <a href="index.ejs">You are lost let us help you, click here.</a></p>


  
  
</div> 


<div class="col-12 yespaddingtop">
  <i class="fas fa-sign-out-alt"></i>
  logout
</div>

<div class="col-12 yespaddingbottom">
  <i class="fas fa-cog"></i> 
  setting 

  </div>



<%- include('partials/footer'); %>
