<%- include('partials/header'); %> 


<div class="container-fluid">

  <div class="row">
    <div class="col-4 row nopaddingwhole">
    <div class="col-6 nopaddingwhole"> 
      <div class="col-12"> Channels</div>
       
      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>

      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>

      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-6 nopaddingwhole">
       <div class="col-12"> Users</div>

      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

    <div class="col-8 container"> 

      <div class="row">
        <div class="col-3 card">
          <img src="/images/dummy-200x200.png" alt="...">
        </div>

        <div class="col-7  nopaddingtop nopaddingbottom">
          <div class="row">
            <div class="col-12 hight">
              name
            </div>

            <div class="col-12">
              email
            </div>
          </div>
        </div>

        <div class="col-2 nopaddingtop nopaddingbottom">
          <div class="row">
            <div class="col-12">
              <i class="fas fa-sign-out-alt"></i>
              logout
            </div>

            <div class="col-12">
              <i class="fas fa-cog"></i> 
              setting
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12"> Channel Name</div>
      </div>

      <div class="row">

        <div class="col-12 overflow-auto">

          Sed ut perspiciatis unde omnis iste natus error sit voluptK7EWHV
          +0JkRhd2lkIFBvdG9ja2kgPGRhd2lkQGRhd2lkcG90b2NraS5jb20+iJYE
          ExYIAD4WIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUCXqOMPgIbAwUJAeEzgAULCQgH
          AgYVCgkICwIEFgIDAQIeAQIXgAAKCRABttEn7A5r3xMNAQCA0i0FpVQk2khiJdwU
          y7vO64OLGMF71ebkt7cUwPhx/wD9GLj2ihBRk7Zex6xzwX1DC9m5QzSdvLk0vIB8
          efaeNAe4OAReo4w+EgorBgEEAZdVAQUBAQdAaWSYjXr/OjLvgwacBmTutFcoHcRp
          YHlUzkincQl54ywDAQgHiH4EGBYIACYWIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUC
          XqOMPgIbDAUJAeEzgAAKCRABttEn7A5r3ysjAQD36z7/el5y9ztlivMHlzpyRqm3
          p5R+c1AwfdG+y+UoXAD/Z0TyDFsW7sW3iTLDywRVB+LGY1mub+q5yQGkDx2ESwA=
          atem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptK7EWHV
          +0JkRhd2lkIFBvdG9ja2kgPGRhd2lkQGRhd2lkcG90b2NraS5jb20+iJYE
          ExYIAD4WIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUCXqOMPgIbAwUJAeEzgAULCQgH
          AgYVCgkICwIEFgIDAQIeAQIXgAAKCRABttEn7A5r3xMNAQCA0i0FpVQk2khiJdwU
          y7vO64OLGMF71ebkt7cUwPhx/wD9GLj2ihBRk7Zex6xzwX1DC9m5QzSdvLk0vIB8
          efaeNAe4OAReo4w+EgorBgEEAZdVAQUBAQdAaWSYjXr/OjLvgwacBmTutFcoHcRp
          YHlUzkincQl54ywDAQgHiH4EGBYIACYWIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUC
          XqOMPgIbDAUJAeEzgAAKCRABttEn7A5r3ysjAQD36z7/el5y9ztlivMHlzpyRqm3
          p5R+c1AwfdG+y+UoXAD/Z0TyDFsW7sW3iTLDywRVB+LGY1mub+q5yQGkDx2ESwA=
          atem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptK7EWHV
          +0JkRhd2lkIFBvdG9ja2kgPGRhd2lkQGRhd2lkcG90b2NraS5jb20+iJYE
          ExYIAD4WIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUCXqOMPgIbAwUJAeEzgAULCQgH
          AgYVCgkICwIEFgIDAQIeAQIXgAAKCRABttEn7A5r3xMNAQCA0i0FpVQk2khiJdwU
          y7vO64OLGMF71ebkt7cUwPhx/wD9GLj2ihBRk7Zex6xzwX1DC9m5QzSdvLk0vIB8
          efaeNAe4OAReo4w+EgorBgEEAZdVAQUBAQdAaWSYjXr/OjLvgwacBmTutFcoHcRp
          YHlUzkincQl54ywDAQgHiH4EGBYIACYWIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUC
          XqOMPgIbDAUJAeEzgAAKCRABttEn7A5r3ysjAQD36z7/el5y9ztlivMHlzpyRqm3
          p5R+c1AwfdG+y+UoXAD/Z0TyDFsW7sW3iTLDywRVB+LGY1mub+q5yQGkDx2ESwA=
          atem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptK7EWHV
          +0JkRhd2lkIFBvdG9ja2kgPGRhd2lkQGRhd2lkcG90b2NraS5jb20+iJYE
          ExYIAD4WIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUCXqOMPgIbAwUJAeEzgAULCQgH
          AgYVCgkICwIEFgIDAQIeAQIXgAAKCRABttEn7A5r3xMNAQCA0i0FpVQk2khiJdwU
          y7vO64OLGMF71ebkt7cUwPhx/wD9GLj2ihBRk7Zex6xzwX1DC9m5QzSdvLk0vIB8
          efaeNAe4OAReo4w+EgorBgEEAZdVAQUBAQdAaWSYjXr/OjLvgwacBmTutFcoHcRp
          YHlUzkincQl54ywDAQgHiH4EGBYIACYWIQRfcaQH9ByFFxdjfzEBttEn7A5r3wUC
          XqOMPgIbDAUJAeEzgAAKCRABttEn7A5r3ysjAQD36z7/el5y9ztlivMHlzpyRqm3
          p5R+c1AwfdG+y+UoXAD/Z0TyDFsW7sW3iTLDywRVB+LGY1mub+q5yQGkDx2ESwA=
          atem accusantium doloremque laudantium.

        </div>

      </div>

      <div class="row">
        <div class="col-12"> message</div>
      </div>

    </div>
    </div>
</div>


<%- include('partials/footer'); %>