<%- include('partials/header'); %> 


<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-0"> 
      
      <div class="row">
        <div class="border col-12"> Channel Name</div>
      </div>

      <div class="row">
        <div class="col-12 overflow-auto1 py-0">
          <div class="col-12">
            <div class="row maxh" id="nom">
              <div class="border col-3 p-0 h-100">
                <img class="rounded-circle h-100" src="/images/dummy-200x200.png" class="card-img-top" alt="...">
              </div>
              <div class="border col-9">
                name
              </div>
            </div>
            <div class="row"> 
              <div class="col-12 border">
                message of user
              </div>
            </div>
          </div>          
          
          <div class="col-12">
            <div class="row maxh" id="nom">
              <div class="border col-3 p-0 h-100">
                <img class="rounded-circle h-100" src="/images/dummy-200x200.png" class="card-img-top" alt="...">
              </div>
              <div class="border col-9">
                name
              </div>
            </div>
            <div class="row"> 
              <div class="col-12 border">
                message of user
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row maxh" id="nom">
              <div class="border col-3 p-0 h-100">
                <img class="rounded-circle h-100" src="/images/dummy-200x200.png" class="card-img-top" alt="...">
              </div>
              <div class="border col-9">
                name
              </div>
            </div>
            <div class="row"> 
              <div class="col-12 border">
                message of user
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row maxh" id="nom">
              <div class="border col-3 p-0 h-100">
                <img class="rounded-circle h-100" src="/images/dummy-200x200.png" class="card-img-top" alt="...">
              </div>
              <div class="border col-9">
                name
              </div>
            </div>
            <div class="row"> 
              <div class="col-12 border">
                message of user
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="row">
        <div class="border col-12"> 
          
          <form>
            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </form>

          <button type="submit" class="btn btn-secondary">
            Send Message
          </button>

        </div>
      </div>

    </div>
  </div>
</div>


<%- include('partials/footer'); %>