<%- include('partials/header'); %> 


<div class="container">

  <div class="row">

    <div class="col-2"> Channels 
      <div class="col-12 no-gutters"><img src="/images/dummy-200x200.png" alt="200px,200px"></div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
    </div>

    <div class="col-2"> Users 
      <div class="col-12">image</div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
      <div class="col-12">image</div>
    </div>

    <div class="col-8 container"> 

      <div class="row">
        <div class="col-3">photo</div>

        <div class="col-7">
          <div class="row">
            <div class="col-12">name</div>
            <div class="col-12">email</div>
          </div>
        </div>

        <div class="col-2">
          <div class="row">
            <div class="col-12"><i class="fas fa-sign-out-alt "></i> logout</div>
            <div class="col-12"><i class="fas fa-cog"></i> setting</div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12"> Channel Name</div>
      </div>

      <div class="row">
        <div class="col-12" id="minh"> text</div>
      </div>

      <div class="row">
        <div class="col-12"> message</div>
      </div>

    </div>
    </div>
</div>


<%- include('partials/footer'); %>