<%- include('partials/header'); %> 


<div class="container-fluid">

  <div class="row">
    <div class="col-4 row">
    <div class="col-6 nopaddingwhole"> 
      <div class="col-12"> Channels</div>
       
      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>

      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>

      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-6 nopaddingwhole">
       <div class="col-12"> Users</div>

      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
      <div class="col-12 card">
        <img src="/images/dummy-200x200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

    <div class="col-8 container"> 

      <div class="row">
        <div class="col-3 card">
          <img src="/images/dummy-200x200.png" alt="...">
        </div>

        <div class="col-7  nopaddingtop nopaddingbottom">
          <div class="row">
            <div class="col-12 yespaddingtop">
              name
            </div>

            <div class="col-12 yespaddingbottom">
              email
            </div>
          </div>
        </div>

        <div class="col-2 nopaddingtop nopaddingbottom">
          <div class="row">
            <div class="col-12 yespaddingtop">
              <i class="fas fa-sign-out-alt"></i>
              logout
            </div>

            <div class="col-12 yespaddingbottom">
              <i class="fas fa-cog"></i> 
              setting
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12"> Channel Name</div>
      </div>

      <div class="row">
        <div class="col-12" id="minh"> text</div>
      </div>

      <div class="row">
        <div class="col-12"> message</div>
      </div>

    </div>
    </div>
</div>


<%- include('partials/footer'); %>