body {
  background:#747474;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  height: 100%; 
}

button.focus, button:focus {
  outline: 0;
  box-shadow: 0 0 0 0 black;
}

*[class*='col-']{
  margin: 0px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

*[class*='overflow-auto1']{
  overflow-y: auto; 
  height: calc(100vh - 156px);
}

#sidebar{
  overflow-y: auto; 
  height: calc(100vh + 56px);
}

@media only screen and (max-width: 768px) {
  #sidebar {
    height: auto;
  }
}

*[class*='form-group'] {
  text-align: left;
}

.card{
  background-color: #747474;
  border: white 1px solid;
}

*[class*='border']{
border: white 1px solid;
border-radius: .3rem;
}

*[class*='b-dg']{
  background-color: #5e5d5d;
}

.btn-secondary {
  background-color: #5e5d5d;
  border: white 1px solid;
}

*[class*='left']{
  text-align: left;
}

*[class*='right']{
  text-align: right;
}

.login-box {
  width: 600px;
  background-color: #747474;
}

.maxsize-6vw{
  max-width: 8vh;
  max-height: 8vh;
  min-height: 8vh;
  min-width: 8vh;
  border-radius: 50%;
}

.card-img-top{
  height: calc(33.333333vw - 2px); 
  width: calc(33.333333vw - 2px);
}

@media only screen and (max-width: 768px) {
  .card-img-top {
    height: calc(50vw - 2px);
    width: calc(50vw - 2px);
  }
}

.scrolling-wrapper{
  overflow-x: auto;
  border-left: 1px solid white;
  border-radius: .3rem;
}

#main {
  border: green 1px solid;
}