body {
  background:#747474;
  font-family: Arial, Helvetica, sans-serif;
}

*[class*='col-']{
  margin: 0px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-content{
  background-color: #747474;
  border: 1px white solid;
}


*[class*='overflow-auto1']{
  overflow: auto; 
  height: calc(100vh - 325px);
}

*[class*='form-group']{
  text-align: left;
}


.card{
  background-color: #747474;
}


*[class*='maxh']{
  height: 10vh;
}

#nom{
  margin-top: 0px;
}

*[class*='border']{
border: white 1px solid;
border-radius: .3rem;
}


